.container{
    max-width: 700px;
    margin: 0 auto;
}

input{
    border: 1px solid rgb(125, 125, 125);
   padding: 10px 40px;
   border-radius: 2px;
   text-align: center;
}

.input{
    margin: 20px;
    text-align: center;  
}

.button{
    margin-left: 300px;
    border-radius: 2px;
    padding: 8px 40px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border: 1px solid rgb(130, 130, 130);
    background-color: white; 
}

.button:focus
{
	border: 2px solid rgb(6, 62, 245);
}

