.app-list-item {
    font-size: 20px;
}

.app-list-item button {
    width: 35px;
    height: 35px;
    margin: 3px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.app-list-item button:focus {
    box-shadow: none;
    outline: none;
}


.btn-star {
    color: #a5a5a5;
    /* color: #FFD700; */
}
.app-list-item .btn-trash {
    color: red;
}

.btn-done {
    color: #a5a5a5;
}

.done .btn-done{
    color: rgb(0, 30, 255);
}

.app-list-item-label {
    display: block;
    line-height: 35px;
    user-select: none;
}

.important {
    /* color: #a5a5a5; */
    color: #fc3002;
    font-weight: 600;
}

.important  .btn-star{
    color: #FFD700;
}

.done{
    /* background-color: rgb(196, 196, 196); */
    color:rgb(208, 208, 208);
}


